#### txt files (write, read, append mode)

In [2]:
with open('file_handling.txt', 'w') as file:
    file.write("Hello Python world I'm learning my first File Handling experience in Python.")

In [5]:
with open('file_handling.txt', 'a') as file:
    file.write('\nThis experience gives me vibes as a basic programmer.')

In [6]:
with open('file_handling.txt', 'r') as file:
    content = file.read()
    print(content)

Hello Python world I'm learning my first File Handling experience in Python.This experience gives me vibes as a basic programmer.
This experience gives me vibes as a basic programmer.

#### CSV File:

In [1]:
import csv

In [8]:
# for writing data in csv files:
with open("data.csv", 'w', newline = '') as file:
    csv_write = csv.writer(file, delimiter = ',')
    csv_write.writerow(['Name', 'Age', 'Country']) # this is Header
    csv_write.writerow(['John', '25', 'USA'])
    csv_write.writerow(['Emily', '30', 'Canada'])

In [9]:
# for appending data in csv files:
with open('data.csv', 'a', newline = '') as file:
    csv_write = csv.writer(file, delimiter = ',')
    csv_write.writerow(['Michael', '2', 'UK'])
    csv_write.writerow(['Sophia', '28', 'Australia'])
    csv_write.writerow(['Daniel', '35', 'Germany'])

In [10]:
# for reading the data in csv file:
# Method 1
with open('data.csv', 'r') as file:
    csv_reader = csv.reader(file, delimiter = ',')
    csv_list = []
    for record in csv_reader:
        csv_list += record

In [11]:
print(csv_list)

['Name', 'Age', 'Country', 'John', '25', 'USA', 'Emily', '30', 'Canada', 'Michael', '2', 'UK', 'Sophia', '28', 'Australia', 'Daniel', '35', 'Germany']

In [12]:
# Method 2
with open('data.csv', 'r') as file:
    csv_reader = csv.reader(file, delimiter = ',')
    print(list(csv_reader))

[['Name', 'Age', 'Country'], ['John', '25', 'USA'], ['Emily', '30', 'Canada'], ['Michael', '2', 'UK'], ['Sophia', '28', 'Australia'], ['Daniel', '35', 'Germany']]

In [13]:
import csv

In [14]:
with open('psl_details.csv', 'r') as file:
    csv_reader = csv.reader(file)
    print(list(csv_reader))

[['YEAR', 'SEASON_NUMBER', 'WINNER'], ['2016', '1', 'Islamabad United'], ['2017', '2', 'Peshawar Zalmi'], ['2018', '3', 'Islamabad United'], ['2019', '4', 'Quetta Gladiators'], ['2020', '5', 'Karachi Kings'], ['2021', '6', 'Multan Sultans']]

In [15]:
with open('psl_details.csv', 'r') as file:
    psl_reader = csv.reader(file)
    psl_list = []
    for details in psl_reader:
        psl_list += details

In [16]:
print(psl_list)

['YEAR', 'SEASON_NUMBER', 'WINNER', '2016', '1', 'Islamabad United', '2017', '2', 'Peshawar Zalmi', '2018', '3', 'Islamabad United', '2019', '4', 'Quetta Gladiators', '2020', '5', 'Karachi Kings', '2021', '6', 'Multan Sultans']

In [17]:
print(psl_list[3])

2016

In [18]:
print(psl_list[6])

2017

In [20]:
print(psl_list[3][1])

0

In [35]:
print(psl_list[8][-6:-3])

 Za

In [40]:
index = psl_list.index('Quetta Gladiators')

In [41]:
index

14

In [43]:
psl_list[14][7:]

'Gladiators'

In [45]:
target = input('Enter the season No: ')
index_number = psl_list.index(target)
index_winner = index_number + 1
winner = psl_list[index_winner]
print(f'The winner of season {target} was {winner}')

Enter the season No: 5
The winner of season 5 was Karachi Kings

#### JSON File handling:

In [1]:
import json

In [2]:
# for write text in json files
psl = ['KK','IU','QD','MS','LQ','PZ']
with open('psl.json', 'w') as file:
    json.dump(psl, file)

In [4]:
# for read text in json files
with open('psl.json', 'r') as file:
    teams = json.load(file)
    print(teams)

['KK', 'IU', 'QD', 'MS', 'LQ', 'PZ']

In [5]:
customer_8849 = {
    'first name': 'Muneeb',
    'last name': 'Ullah',
    'age': 21,
    'address': '5th strt Wellsley tow.'
}

In [7]:
with open('customer_8849.json', 'w') as file:
    json.dump(customer_8849, file)

In [9]:
with open('customer_8849.json', 'r') as file:
    customers = json.load(file)
    print(customers)

{'first name': 'Muneeb', 'last name': 'Ullah', 'age': 21, 'address': '5th strt Wellsley tow.'}

In [10]:
type(customer_8849)

dict

In [12]:
customer_8849['address'] = 'Mubina town'

In [13]:
customer_8849['address']

'Mubina town'

In [22]:
customer_8849['last name'][2:4]

'la'

In [27]:
customer_8849['address'][7:11]

'town'

In [34]:
with open('Practice.txt','w') as file:
    file.write("hello")

In [35]:
with open('Practice.txt', 'r') as file:
    reader = file.read()
    print(reader)

{
  "name": "John Doe",
  "age": 30,
  "email": "john.doe@example.com",
  "address": {
    "street": "123 Main St",
    "city": "Anytown",
    "state": "CA",
    "zip": "12345"
  },
  "interests": ["coding", "reading", "traveling"]
}

In [38]:
with open('Practice.json', 'r') as file:
    reader = json.load(file)
    print(reader)

{'name': 'John Doe', 'age': 30, 'email': 'john.doe@example.com', 'address': {'street': '123 Main St', 'city': 'Anytown', 'state': 'CA', 'zip': '12345'}, 'interests': ['coding', 'reading', 'traveling']}

In [47]:
reader['email'][17:]

'com'

In [71]:
reader['interests'][0][:3]

'cod'

In [72]:
reader['interests'][1][:4]

'read'

In [81]:
hobby = reader['interests'][2][:6]

In [82]:
hobby

'travel'

In [75]:
reader['address']['state']

'CA'

In [75]:
reader['address']['state']

'CA'

In [77]:
reader['address']['zip'][:3]

'123'

In [79]:
city= reader['address']['city'][3:]

In [80]:
city

'town'

In [94]:
mix = hobby +' '+ 'to'+" "+ city

In [95]:
mix

'travel to town'

TASK:
    
1- create a CSV file with delimiter "|"
2- add 2 records in file using write mode
3- add 3 records in file using append mode
4- read the content from the file
5- Perform operations like Slicing, Indexing on it.