In [1]:
# for functions we use:
def calc_percentage():
    bio = int(input("Enter bio marks: "))
    maths = int(input("Enter maths marks: "))
    eng = int(input("Enter eng marks: "))

    total_marks = 300
    obtain_marks = bio+maths+eng
    percentage = (obtain_marks * 100)/ total_marks
    print(f'Your Percentage is {percentage}')

In [2]:
calc_percentage()

Enter bio marks: 25
Enter maths marks: 52
Enter eng marks: 54
Your Percentage is 43.666666666666664

In [3]:
def cal_percentage_with_parameters(bio, maths, eng):
    total_marks = 300
    obtain_marks = bio+maths+eng
    percentage = (obtain_marks * 100)/ total_marks
    print(f'Your Percentage is {percentage}')

In [4]:
cal_percentage_with_parameters(65, 52, 78)

Your Percentage is 65.0

#### Task: Area of square

In [13]:
# without params
def calc_area():
    len_square = int(input("Input the length of Square: "))
    area = len_square * len_square
    print(area,'sq units')

In [14]:
calc_area()

Input the length of Square: 5
25 sq units

#### Task: Volume

In [15]:
def calc_vol(length, breadth, height):
    vol_cb = length * breadth * height
    print(f'The vol of cube is: {vol_cb}')

In [16]:
calc_vol(13, 12, 43)

The vol of cube is: 6708

In [17]:
def calc_vol(length, breadth, height):
    vol_cb = length * breadth * height
    return vol_cb

In [18]:
calc_vol(13, 12, 43)

6708

In [19]:
def complete_name(first_name, middle_name = '', last_name):
    return f'{first_name} {middle_name} {last_name}'

SyntaxError: non-default argument follows default argument (2285832264.py, line 1)

In [20]:
def complete_name(first_name, last_name, middle_name = '' ):
    return f'{first_name} {middle_name} {last_name}'

In [21]:
complete_name('Qasim', 'Hassan',)

'Qasim  Hassan'

In [23]:
complete_name('Qasim', 'Hassan', 'inam ul')

'Qasim inam ul Hassan'

Task:
    1- create a function without paramter that proivide full name
    2- introduce parameters in that fucntion
    3- set "middle name" of a person as default paramter
    4- intoruce the `return` keyword in the function definition
    5- validate the concept of positional arguments
    6- functions within functions
    7- kwargs using **
    8- args with *

In [27]:
def full_name():
    first_name = input("Enter first name: ")
    middle_name = input("Enter middle name: ")
    last_name = input("Enter last name: ")
    return f'{first_name} {middle_name} {last_name}'

In [28]:
full_name()

Enter first name: Asad
Enter middle name: ullah
Enter last name: shaikh

'Asad ullah shaikh'

In [36]:
def full_name(first, last, middle = ''):
    return f'{first} {middle} {last}'

In [38]:
full_name('Shaikh', 'Asad', 'Ullah')

'Shaikh Ullah Asad'

In [41]:
# In function within function
def calculation(num1, num2):
    
    def add(num1, num2):
        return num1 + num2
    def sub(num1, num2):
        return num1 - num2
    
    print(add(num1, num2))
    print(sub(num1, num2))

In [42]:
calculation(3, 9)

12
-6

In [43]:
# we call function within function
def add(num1, num2):
    return num1 + num2
def sub(num1, num2):
    return num1 - num2

In [44]:
add(2, 4)

6

In [48]:
sub(3, -4) #==> 3 - (-4) = 3 + 4 = 7

7

#### simple function creation with parameters

In [6]:
length = 5
def calc_area(length):
    area = length * length
    return area

In [7]:
calc_area(length)

25

In [10]:
l = int(input("Enter the length: ")) # l is act as an argument for fuction
calc_area(l)

Enter the length: 7

49

In [8]:
num = 3
def square_root(num):
    root = num**0.5
    return root

In [9]:
square_root(num)

1.7320508075688772

#### function creation with : default parameters

In [13]:
def calc_area(length = 3):
    area = length * length
    return area
calc_area()

9

#### function creation with more than one param

In [22]:
# more than one parameters but should one default parameters
def calc_area(length, breadth, height = 3):
    area_of_square = length * length
    volume = length * breadth * height
    print(f'area of square is {area_of_square} and length is {length}')
    print(f'volume of cube is {volume} sq.km')

In [23]:
calc_area(3, 5)

area of square is 9 and length is 3
volume of cube is 45 sq.km

In [24]:
calc_area(5, 6, 8)

area of square is 25 and length is 5
volume of cube is 240 sq.km

#### working with flexible number of arguments using *

In [29]:
def add(num1, num2, *nums):
    print(num1)
    print(num2)
    print(*nums)
    adds = num1 + num2
    
    for i in nums:
        adds += i
        
    print(adds)

In [30]:
add(3, 4, 5, 6, 7, 8)

3
4
5 6 7 8
33

#### working with flexible number of arguments using **

In [46]:
def add (num1, num2, **nums):
    print(num1)
    print(num2)
    print(nums)
    adds = num1 + num2
    
    for key, value in nums.items():
        adds += value
    print(adds)

In [47]:
add(3, 4, 5, 3)

TypeError: add() takes 2 positional arguments but 4 were given

In [48]:
add(2, 3, num3=4, num4=6)

2
3
{'num3': 4, 'num4': 6}
15